html {
    font-family: 'Raleway', sans-serif;
    background-color: #FFC573;
   color: #A64B00;
}

html h2 {
	font-family: 'Engagement', cursive;
	font-size: 55px;
	padding-bottom: -30px;
	text-align: center;
}

.gallery {
	margin-left: 25px;
}

#pageinfo p {
	margin-left: 25px;
}

.gallimg img {
	width: 250px;
	height: 200px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.gallimg {
	float:left;
	padding-right: 12px;
	box-sizing: border-box;
}

.gallimg p {
	font-size: 13px;
	padding-top: 0;

}

footer {
	clear: left;
	background: #009999;
	color: #fff;
}

footer p {
	margin: 0;
	padding: 15px;
	border-style: border-box;
	text-align: center;
}