body {
    background-color: #FFC573;

}
h1 {
    text-align: center;
    color: #A64B00;
    padding: 30px;
    font-family: 'Engagement', cursive;
}

.xevent {
    float: left;
    width: 20%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    min-height: 700px;
    margin: 0px;
    color: #A64B00;
    border-right: 2px solid #A64B00;
    border-top: 6px solid #A64B00;
    padding: 10px;

}

.xevent:last-child {
    margin-right: 5%;
    border-right: none;
}

.xevent:first-child {
        margin-left: 5%;
}